@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable-dynamic-subset.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mungyeong-Gamhong-Apple';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-2@1.0/Mungyeong-Gamhong-Apple.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  body {
    @apply font-body;
  }
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Pretendard Variable', sans-serif;
  color: #1f2937;
  background-color: #fff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

body.loading::after {
  content: '로딩 중...';
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  font-size: 2rem;
  color: hotpink;
  background: white;
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}